<template>
  <div class="about">
    <div class="content">
      <h1>The <em>Why</em> and <em>What</em> of selecuery</h1>
      <p>
        Every X++-developer knows this: your customer will go live in a week and you can't get this complicated
        query expression return the correct result.
        You might want to search for <a
          href="https://learn.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/advanced-filtering-query-options">the
          official Microsoft D365 docs on query expressions</a>, but you'll hit a dead-end
        very fast, because it doesn't explain query expression syntax in X++ at all!
        Until finally, you are happy to see <a
          href="https://learn.microsoft.com/en-us/dynamicsax-2012/developer/using-expressions-in-query-ranges">some X++
          code
          with query expressions in it</a>, just to realize that only the most simple cases are shown
        and no real explanation is given on how they actually work. Frustrating!
      </p>
      <p>
        How do you join those tables again? Was it <code>addLink(...)</code>? And what if you want to compare
        a field against an enum value? Or even better: what if your query uses multiple nested boolean expressions?
        Good luck, figuring out all the parentheses in the <code>addRange(...).value(...)</code> method.
      </p>
      <p>
        X++-developers have deserved better tools! selecuery can do all this for you!
        You literally write your select statement and selecuery will transform it automagically into a
        query expression. Gone are the days, where you have to go down some <code>strFmt</code> hell like:
      </p>
      <pre><code>.value(strFmt('((ItemType == %1) || (ItemId == "%2"))',
      any2int(ItemType::Service),
      queryValue("B-R14")));</code></pre>
      <p>Instead, just write your select statement and copy-paste the generated query:</p>
      <pre><code>...where inventTable.ItemType == ItemType::Service
      || inventTable.ItemId == 'B-R14';</code></pre>
    </div>
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.content {
  width: 80%;
  padding-top: 4rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--color-heading);
}

p code {
  background: var(--color-code-block-background);
  padding: 0.15rem;
}

pre {
  background: var(--color-code-block-background);
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
}
</style>
