<script setup lang="ts">
import HeroSection from '@/components/HeroSection.vue';
import HeroSectionItem from '@/components/HeroSectionItem.vue';
import HeroSectionItemContainer from '@/components/HeroSectionItemContainer.vue';
import HeroSectionText from '@/components/HeroSectionText.vue';
import CodeEditor from '@/components/CodeEditor.vue';
import { useSelecuery } from '@/composables/selecuery';
import { ref, type StyleValue } from 'vue';
import { useDark } from '@vueuse/core';
import { vIntersectionObserver } from '@vueuse/components';
import { Teleport } from 'vue';
import {
  Select,
  SelectContent,
  SelectLabel,
  SelectOption,
  SelectPositioner,
  SelectTrigger,
} from '@ark-ui/vue';

const codeToTranspile = ref('');

const { selectStmtToTranspile, transpiledSelectStmt } = useSelecuery(codeToTranspile);

const heroSectionHeaderStyleFirst: StyleValue = {
  backgroundImage: 'linear-gradient(45deg, var(--color-heading), hsl(351, 42%, 54%))',
  backgroundClip: 'text',
  '-webkit-text-fill-color': 'transparent'
};

const isDark = useDark();

const isGridForWhySelecueryVisible = ref(false);

function onIntersectingGrid([{ isIntersecting }]: IntersectionObserverEntry[]) {
  // if our grid has become visible the first time, we don't want it to disappear again
  isGridForWhySelecueryVisible.value = isGridForWhySelecueryVisible.value || isIntersecting;
}

const selectStatementExamples = [
  {
    label: 'Simple where',
    value: `select firstonly custTable
    where custTable.AccountNum == '42';`
  },
  {
    label: 'Simple join',
    value: `select firstonly custTable
    where custTable.AccountNum == '42'
    join dirPartyTable
        where dirPartyTable.RecId == custTable.Party;`
  },
  {
    label: 'Go crazy!',
    value: `select firstonly custTable
    join dirPartyTable
        where dirPartyTable.RecId == custTable.Party
            && ((dirPartyTable.Type == PartyType::Person
                    && custTable.AccountNum == '42')
                || (dirPartyTable.Type == PartyType::Organization
                    && custTable.AccountNum == '1337'));`
  }
];

</script>

<template>
  <HeroSection class="hero-section" :class="{ dark: isDark }">
    <template #header>
      <HeroSectionText :text-decoration-style="heroSectionHeaderStyleFirst">Turn your X++ select statements
        into
        Query
        expressions</HeroSectionText>
    </template>
    <template #item>
      <HeroSectionItemContainer :gap="'small'">
        <HeroSectionItem class="hero-item shadow editor">
          <template #header>
            <h1 class="left-gradient-clr hero-item-header">Turn this...</h1>
            <div class="select-example">
              <Select @change="(details) => codeToTranspile = details?.value || ''" v-slot="{ selectedOption }">
                <SelectLabel class="select-label"><span class="text">Get inspired</span><span class="arrow">🠚</span>
                </SelectLabel>
                <SelectTrigger class="select-trigger">
                  <button>
                    {{ selectedOption?.label ?? 'Choose example' }}
                  </button>
                </SelectTrigger>
                <Teleport to="body">
                  <SelectPositioner>
                    <SelectContent class="select-content">
                      <SelectOption v-for="example in selectStatementExamples" :label="example.label"
                        :value="example.value" />
                    </SelectContent>
                  </SelectPositioner>
                </Teleport>
              </Select>
            </div>
          </template>
          <template #content>
            <div :style="{ flex: '1 1 auto', position: 'relative' }">
              <CodeEditor v-model="codeToTranspile"></CodeEditor>
            </div>
          </template>
        </HeroSectionItem>
        <HeroSectionItem class="hero-item shadow editor">
          <template #header>
            <h1 class="right-gradient-clr hero-item-header">...into this</h1>
          </template>
          <template #content>
            <CodeEditor v-model="transpiledSelectStmt" disabled></CodeEditor>
          </template>
        </HeroSectionItem>
      </HeroSectionItemContainer>
    </template>
  </HeroSection>
  <HeroSection class="hero-section" :class="{ dark: isDark }">
    <template #header>
      <HeroSectionText class=" hero-section__heading-second">Why selecuery?</HeroSectionText>
    </template>
    <template #item>
      <div class="section-why-selecuery" v-intersection-observer="[onIntersectingGrid, { rootMargin: '0% 0% -40% 0%' }]"
        :class="{ 'scale-up': isGridForWhySelecueryVisible }">
        <div class="item-wrapper">
          <div class="item">
            <h1>Correctness</h1>
            <p>Declarative select statements have a much higher chance of being correct than imperative query expressions,
              because they describe the <em>What</em>, not the <em>How</em>.
            </p>
          </div>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <h1>No more arcane query range values</h1>
            <p>No more arcane <code>strfmt</code> syntax in query range values, like
            <pre>
<code>strfmt('(ItemId == %1) && (ItemValue == "%2")')</code>
            </pre>
            Who should know these rules anyway? Let us just write our <code>where</code> clauses!
            </p>
          </div>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <h1>Fun</h1>
            Programming should be fun! However, this is only possible if the tools we use every day are a joy to work with
            and don't suck!
          </div>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <h1>Learning</h1>
            <p>Can teach you on how to do Query expressions in X++ the right way!</p>
          </div>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <h1>Consistent</h1>
            <p>Create a consistent style of query expressions throughout your codebase, so that other developers can
              recognize the pattern and immediately know what's going on.
            </p>
          </div>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <h1>Works like magic</h1>
            <p>You'll feel like a wizard!✨</p>
          </div>
        </div>
        <div class="item-wrapper">
          <div class="item">
            <h1>Open Source</h1>
            <p>Unlike D365FO and X++, selecuery is <a href="https://gitlab.com/seloxidate/selecuery">hackable to the
                core</a>! Inspect, adapt, republish!</p>
          </div>
        </div>
      </div>
    </template>
  </HeroSection>
</template>

<style scoped>
.hero-section {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-bottom: 2.5rem;
}

.hero-section__heading-second {
  color: var(--color-heading);
  margin-bottom: 3rem;
}

.hero-section:nth-of-type(1) {
  /* due to navigation menu */
  padding-top: 3.5rem;
}

.hero-section:nth-of-type(even) {
  background-color: var(--color-background);
  padding: 0;
}

.hero-section:nth-of-type(even).dark {
  background-image: linear-gradient(180deg, rgb(74, 39, 39) 7.1%, rgb(74, 71, 91) 67.4%);
}

.hero-section:nth-of-type(odd) {
  background-image: linear-gradient(174.2deg, var(--color-background) 7.1%, var(--color-background-mute) 67.4%);
}

.hero-section:nth-of-type(odd).dark {
  background-image: linear-gradient(174.2deg, rgb(74, 71, 91) 7.1%, rgb(74, 39, 39) 67.4%);
}

.hero-item {
  flex: 0 0 50%;
}

.hero-item.shadow {
  box-shadow: 0.5rem 0.5rem 1rem var(--color-editor-shadow);
}

.hero-item.editor {
  background-color: var(--color-editor);
}

.left-gradient-clr {
  color: var(--color-heading);
}

.right-gradient-clr {
  color: var(--color-text-right-gradient);
}

.hero-item-header {
  font-size: 2.5rem;
}

.select-example {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-label {
  margin: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
}

.select-label>.text {}

.select-label>.arrow {
  margin: 0 0 0 0.5rem;
  font-size: 2.5rem;
}

.select-trigger {
  cursor: pointer;
  padding: 0.5rem 3rem;
  background: var(--color-select-btn);
  color: var(--color-select-btn-text);
  font-size: 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--color-editor-shadow);
  transition: transform ease 0.25s, box-shadow ease 0.25s;
}

.select-trigger[data-state="open"] {
  box-shadow: none;
  transform: translateY(2px) scale(0.95);
}

.select-content {
  background: var(--color-select-option-background);
  color: var(--color-select-option-text);
  box-shadow: 0.5rem 0.5rem 1rem var(--color-select-content-shadow);
}

.select-content [data-part='option'] {
  padding: 0.5rem 2rem;
}

.select-content [data-part='option']:hover {
  background: var(--color-background-hover);
}

.section-why-selecuery {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  width: 100%;
  padding: 0 10rem;
  gap: 1rem;
}

.section-why-selecuery .item {
  background-color: var(--color-card);
  padding: 1rem;
  min-height: 100%;
  font-size: 1.05rem;
  /*We scale up with an animation in another class*/
  transform: scale(0);
  transition: transform ease 0.5s;
}

.section-why-selecuery .item-wrapper:hover {
  box-shadow: var(--card-box-shadow-hover);
  transform: scale(1.02);
}

.section-why-selecuery .item-wrapper {
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.section-why-selecuery h1 {
  color: var(--color-heading-cards);
  margin-bottom: 1rem;
}

.section-why-selecuery h1::after {
  content: '';
  width: 0;
  /* will get animated */
  height: 0.3rem;
  background: var(--color-heading-underline-cards);
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  transition: width cubic-bezier(0.16, 1, 0.3, 1) 1500ms;
  transition-delay: 1000ms;
}

.section-why-selecuery>*:nth-child(1) {
  grid-row: 1 / 3;
}

.section-why-selecuery>*:nth-child(2) {
  grid-column: 2 / 4;
}

.section-why-selecuery>*:nth-child(5) {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.section-why-selecuery>*:nth-child(7) {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.scale-up .item {
  transform: scale(1);
}

.scale-up h1::after {
  width: 4rem;
}

.scale-up .item-wrapper:nth-child(1) .item {
  transition-delay: 150ms;
}

.scale-up .item-wrapper:nth-child(2) .item {
  transition-delay: 250ms;
}

.scale-up .item-wrapper:nth-child(3) .item {
  transition-delay: 400ms;
}

.scale-up .item-wrapper:nth-child(4) .item {
  transition-delay: 350ms;
}

.scale-up .item-wrapper:nth-child(5) .item {
  transition-delay: 300ms;
}

.scale-up .item-wrapper:nth-child(6) .item {
  transition-delay: 500ms;
}

.scale-up .item-wrapper:nth-child(7) .item {
  transition-delay: 450ms;
}
</style>