<template>
    <div id="footer">
        <div id="selecuery-container" class="aside">
            <div id="selecuery-logo-wrapper">
                <router-link :to="{ path: '/' }">
                    <AppLogo class="app-logo"
                        :customStyles="{ cCurveColor: 'var(--color-logo-C-curve)', halfClosingCurveColor: 'var(--color-logo-half-closing-curve)', qTailColor: 'var(--color-logo-Q-tail)', sCurveColor: 'var(--color-logo-S-curve)' }" />
                </router-link>
            </div>
            <div id="selecuery-separator" class="separator"></div>
            <p>
                Transpile your X++ select statements into Query expressions
            </p>
        </div>
        <div id="made-with-love">
            <p>Made with ❤️, 😓 and 😢 by Jan Riemer</p>
        </div>
        <div id="socials" class="aside">

        </div>
    </div>
</template>

<script setup lang="ts">
import AppLogo from '@/components/AppLogo.vue';
</script>

<style scoped>
#footer {
    width: 100%;
    background: var(--color-nav);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-footer-item-text);
}

#footer>* {}

#selecuery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#selecuery-container>* {
    margin: 0 1rem;
}

#selecuery-separator.separator {
    margin: 0;
}

#selecuery-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#selecuery-logo-wrapper .app-logo {
    width: 3rem;
}

#selecuery-logo-wrapper a {
    display: inline-flex;
}

#selecuery-logo-wrapper a:active,
#selecuery-logo-wrapper a.router-link-exact-active {
    background: none;
}

@media (hover: hover) {
    #selecuery-logo-wrapper a:hover {
        background: none;
    }
}

.aside {
    flex: 3;
    background: hsl(17, 17%, 40%, 0.11);
}

.separator {
    min-width: 1px;
    min-height: 80%;
    background: var(--color-logo-from-text-separator);
}

#made-with-love {
    flex: 6;
    border: solid 1px var(--color-footer-item-border);
    border-style: solid none;
    margin: 0 4rem;
    padding: 1rem 0;
    text-align: center;
    align-self: center;
    font-size: larger;
}
</style>