<template>
    <svg width="100%" height="100%" viewBox="0 0 51 53" version="1.1" role="img" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:1.5;">
        <g transform="matrix(1,0,0,1,-891.277,-149.977)">
            <g transform="matrix(0.432393,0,0,0.0921257,743.984,149.291)">
                <g id="selecuery-logo" serif:id="selecuery logo" transform="matrix(0.74966,0,0,4.41525,-301.489,291.356)">
                    <g id="C">
                        <g id="C-curve" serif:id="C curve"
                            transform="matrix(2.57702,1.36472e-16,-1.71253e-16,2.05364,-1402.26,-175.035)">
                            <path :style="styleObjectCCurve"
                                d="M930.102,70.007C925.076,62.642 916.736,58.237 907.82,58.237C892.932,58.237 880.844,70.324 880.844,85.212C880.844,100.101 892.932,112.188 907.82,112.188C916.736,112.188 925.076,107.783 930.102,100.418" />
                        </g>
                        <g id="Q-accent" serif:id="Q accent"
                            transform="matrix(2.04703,1.81905,-2.29675,1.64137,-615.611,-1778.32)">
                            <rect :style="styleObjectQTail" x="900.387" y="105.371" width="10.772" height="4.933" />
                        </g>
                    </g>
                    <g id="half-closing-curve" serif:id="half-closing curve"
                        transform="matrix(2.54897,0,0,2.03129,-1377.55,-192.327)">
                        <path :style="styleObjectHalfClosingCurve"
                            d="M931.941,107.842C934.184,103.804 935.361,99.261 935.361,94.642C935.361,90.023 934.184,85.48 931.941,81.443" />
                    </g>
                    <g id="S-curve" serif:id="S curve" transform="matrix(1.67408,0,0,1.33409,-525.911,-110.91)">
                        <path :style="styleObjectSCurve"
                            d="M848.816,110.209C848.816,110.209 851.128,118.072 861.101,122.493C867.144,125.172 880.187,124.593 886.524,122.493C892.163,120.625 898.458,113.77 898.851,107.286C898.999,104.83 898.238,100.9 896.939,98.811C894.915,95.557 891.774,91.963 886.524,89.293C876.094,83.987 873.533,83.097 873.533,83.097L873.528,83.089C873.528,83.089 870.966,82.199 860.536,76.893C855.287,74.223 852.145,70.629 850.122,67.375C848.822,65.286 848.061,61.356 848.21,58.9C848.602,52.416 854.898,45.561 860.536,43.692C866.874,41.592 879.917,41.014 885.96,43.692C895.933,48.114 898.244,55.977 898.244,55.977" />
                    </g>
                </g>
            </g>
        </g>
    </svg>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps<{
    customStyles: { cCurveColor: string, qTailColor: string, halfClosingCurveColor: string, sCurveColor: string };
}>();

const styleObjectCCurve = computed(() => ({
    '--_color-logo-C-curve': props.customStyles.cCurveColor
}));
const styleObjectQTail = computed(() => ({
    '--_color-logo-Q-tail': props.customStyles.qTailColor
}));
const styleObjectHalfClosingCurve = computed(() => ({
    '--_color-logo-half-closing-curve': props.customStyles.halfClosingCurveColor
}));
const styleObjectSCurve = computed(() => ({
    '--_color-logo-S-curve': props.customStyles.sCurveColor
}));
</script>

<style scoped>
#C-curve path {
    fill: none;
    stroke: var(--_color-logo-C-curve);
    stroke-width: 4.79px;
}

#Q-accent rect {
    fill: var(--_color-logo-Q-tail);
    fill-opacity: 0.6;
}

#half-closing-curve path {
    fill: none;
    stroke: var(--_color-logo-half-closing-curve);
    stroke-width: 2.42px;
}

#S-curve path {
    fill: none;
    stroke: var(--_color-logo-S-curve);
    stroke-width: 5.53px;
}
</style>