<template>
    <nav class="nav" role="navigation">
        <div class="nav-section logo">
            <router-link :to="{ path: '/' }">
                <AppLogo class="app-logo"
                    :customStyles="{ cCurveColor: 'var(--color-logo-C-curve)', halfClosingCurveColor: 'var(--color-logo-half-closing-curve)', qTailColor: 'var(--color-logo-Q-tail)', sCurveColor: 'var(--color-logo-S-curve)' }" />
            </router-link>
        </div>
        <div class="toggle-btn-wrapper">
            <Toggle class="toggle-btn" v-model="isDark" :onLabel="'🌘'" :offLabel="'☀️'"></Toggle>
        </div>
        <div class="nav-section nav-items">
            <ul>
                <li v-for="navItem in navItems" :key="navItem.text">
                    <router-link :to="navItem.path">
                        {{ navItem.text }}
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script setup lang="ts">
import { useDark } from '@vueuse/core';
import Toggle from '@vueform/toggle';
import AppLogo from '@/components/AppLogo.vue';

const props = defineProps<{
    navItems: { text: string, path: string }[];
}>();

const isDark = useDark();
</script>
<style src="@vueform/toggle/themes/default.css"></style>
<style scoped>
.toggle-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn {
    --toggle-width: 2.5rem;
    --toggle-font-size: 1rem;
    --toggle-bg-on: #505a8e;
    --toggle-border-on: #dfb89557;
    --toggle-handle-enabled: var(--color-nav-theme-toggle);
}

.nav {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: var(--z-index-nav);
    width: 100%;
    background-color: var(--color-nav);
    line-height: normal;
}

.nav-section {
    flex-grow: 9;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-section.logo {
    flex-grow: 3;
}

ul {
    list-style: none;
    display: flex;
    flex: 1 1 auto;
}

.nav li {
    font-weight: bold;
    font-size: large;
    color: var(--color-nav-item-text);
    display: inline-block;
}

.app-logo {
    width: 3rem;
}

.nav .logo a.router-link-exact-active {
    background: none;
}

.nav .logo a {
    display: inline-flex;
}

.nav .nav-items a {
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
}

.nav .nav-items a:visited,
.nav .nav-items a {
    color: inherit;
}

@media (hover: hover) {
    .nav .nav-items a:hover {
        background-color: var(--color-background-hover);
        border-bottom: 1px solid var(--color-nav-item-border-hover);
    }

    .nav .logo a:hover {
        background: none;
    }
}

.nav li:last-of-type {
    margin-left: auto;
}

.nav .nav-items a.router-link-exact-active {
    background-color: var(--color-nav-item-active);
    border-bottom: 1px solid var(--color-nav-item-border-active);
}
</style>