<template>
    <!--We need to type it as `any`, because !important is not in the typings-->
    <Codemirror :style="(styleObject as any)" v-model="code" :indent-with-tab="true" :tab-size="4" :disabled="disabled">
    </Codemirror>
</template>

<script setup lang="ts">
import { computed, reactive, ref } from 'vue';
import { Codemirror } from 'vue-codemirror';

const props = defineProps<{
    disabled?: boolean,
    modelValue: string
}>();

const emits = defineEmits<{
    (e: 'update:modelValue', value: string): void
}>();

let code = computed({
    get() {
        return props.modelValue;
    },
    set(value) {
        emits('update:modelValue', value);
    }
})

const styleObject = reactive({
    margin: '0 0',
    width: '100%',
    'max-width': '100%',
    height: '100%',
    'max-height': '100%',
    /*
    This prevents a weird overflow bug, where the width of the editor would otherwise
    keep expanding probably due to some flexbox or something. Keep in mindthat our parent
    needs to be `position: relative`
    see here: https://discuss.codemirror.net/t/size-inside-flexbox/1359
    */
    position: 'absolute !important',
})
</script>

<style scoped></style>