<template>
    <h1 :style="headingStyle">
        <span :style="textDecorationStyle">
            <slot></slot>
        </span>
    </h1>
</template>

<script setup lang="ts">
import type { StyleValue } from 'vue';

const props = withDefaults(defineProps<{
    headingStyle?: StyleValue,
    textDecorationStyle?: StyleValue,
}>(), {
    headingStyle: '',
    textDecorationStyle: ''
});
</script>

<style scoped></style>