<template>
    <div class="container">
        <header :class="{ 'header-detached': props.headerDetached }">
            <slot name="header"></slot>
        </header>
        <section>
            <slot name="item"></slot>
        </section>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const props = withDefaults(defineProps<{
    headerDetached?: boolean
}>(), { headerDetached: false });

</script>

<style scoped>
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
}

header {
    flex: 1 auto;
    text-align: center;
    margin-top: 3rem;
    color: var(--color-heading);
}

.header-detached {
    position: absolute;
    padding: 0.4rem 2rem;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    background: var(--color-overlay);
}

section {
    display: flex;
    flex: 8 auto;
}
</style>