<template>
    <div class="section-item">
        <header v-if="$slots.header">
            <slot name="header"></slot>
        </header>
        <main :style="contentStyle" :class="!$slots.header && !$slots.footer ? 'center' : ''">
            <slot name="content"></slot>
        </main>
        <footer v-if="$slots.footer">
            <slot name="footer"></slot>
        </footer>
    </div>
</template>

<script setup lang="ts">
import type { StyleValue } from 'vue';

const props = withDefaults(defineProps<{
    contentStyle?: StyleValue
}>(), {
    contentStyle: ''
});
</script>

<style scoped>
.section-item {
    flex: 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

header {
    flex: 1 auto;
    text-align: center;
    padding-top: 1.5rem;
}

main {
    flex: 5 auto;
    display: flex;
}

footer {
    flex: 1 auto;
}

.center {
    justify-content: center;
    align-items: center;
}
</style>