<template>
    <div :style="styleObjComputed">
        <slot></slot>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = withDefaults(defineProps<{
    gap?: 'none' | 'small' | 'middle' | 'large'
}>(), {
    gap: 'none'
});

const styleObject = {
    display: 'flex',
    flex: '1 1 auto',
};

const styleObjComputed = computed(() => {
    if (props.gap == 'none') {
        return {
            ...styleObject,
            gap: '0rem'
        };
    } else if (props.gap == 'small') {
        return {
            ...styleObject,
            gap: '1rem'
        };
    } else if (props.gap == 'middle') {
        return {
            ...styleObject,
            gap: '3rem'
        };
    } else {
        return {
            ...styleObject,
            gap: '6rem'
        };
    }
})

</script>

<style scoped>
.container {
    display: flex;
    flex: 1 1 auto;
    gap: 1rem;
}
</style>