:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;
  --c-white-red: #e1c3c3;

  --c-white-grey: #eaeef2;
  --c-dark-blue: #202537;
  --c-light-grey: #dee3e6;
  --c-mid-grey: #404446;
  --c-mid-grey-red: #716161;
  --c-mid-grey-red-light: hsl(0, 8%, 61%);
  --c-accent-red-1: hsl(357, 50%, 55%);
  --c-accent-red-2: hsl(351, 42%, 54%);
  --c-accent-red-mute: hsl(357, 60%, 61%);
  --c-accent-red-mute-pale: hsl(357, 40%, 67%);
  --c-red-desaturated: hsl(357, 21%, 50%);
  --c-red-dark: hsl(357, 38%, 34%);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --c-space-cadet-blue: hsl(240, 19%, 22%);
  --c-space-cadet-blue-dark: hsl(240, 19%, 18%);
  --c-space-cadet-blue-dark-darker: hsl(254, 19%, 13%);
  --c-space-cadet-blue-light-1: #363b55;
  --c-space-cadet-blue-light-2: #555b79;
  --c-pale-dogwood: #F5D0C5;
  --c-buff: hsl(22, 78%, 73%);
  --c-buff-mute: hsla(22, 78%, 73%, 0.37);
  --c-buff-mute-more: hsl(22, 78%, 73%, 0.25);
  --c-buff-pale-white: hsl(21.1, 19.6%, 62.9%);
  --c-red-grey-mute-1: hsl(356, 19%, 29%, 0.612);
  --c-red-grey-mute-2: hsl(0, 33%, 35.7%, 0.32);
  --c-red-grey-mute-3: hsl(353, 22%, 23%);
  --c-red-grey-mute-4: hsl(0, 27%, 41%, 0.76);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white-grey);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-hover: var(--c-white-soft);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--c-mid-grey-red);
  --color-text: var(--c-mid-grey-red);
  --color-anchor-link-text: var(--c-accent-red-1);
  --color-anchor-link-text-visited: var(--c-red-desaturated);
  --color-anchor-link-background-active: var(--color-background-soft);
  --color-anchor-link-background-focus: var(--color-background-soft);
  --color-anchor-link-background-hover: var(--color-background-hover);
  --color-code-block-background: var(--c-light-grey);

  --color-logo-C-curve: var(--c-mid-grey-red);

  --color-nav: var(--c-light-grey);
  --color-nav-item-active: var(--c-white);
  --color-nav-item-text: var(--c-accent-red-1);
  --color-nav-item-border-active: var(--c-mid-grey-red);
  --color-nav-item-border-hover: var(--c-mid-grey-red-light);
  --color-nav-theme-toggle: var(--c-mid-grey-red);

  --color-footer: var(--color-nav);
  --color-footer-item-text: var(--color-nav-item-text);
  --color-footer-item-border: var(--c-mid-grey-red-light);

  --color-logo-from-text-separator: var(--color-footer-item-border);

  --color-editor: hsl(0, 0%, 100%, 0.3);
  --color-editor-shadow: hsl(36, 53%, 69%, 0.4);
  --color-overlay: var(--c-white-soft);
  --color-card: var(--color-nav);
  --color-heading-cards: var(--c-accent-red-1);
  /* We actually want those colors to be in sync; why? Because it's fancy! */
  --color-heading-underline-cards: var(--color-background-hover);
  --card-box-shadow-hover: 0.5rem 0.5rem 1rem hsl(2, 31%, 61.4%, 0.3);

  --color-select-btn: var(--c-white);
  --color-select-btn-text: var(--c-accent-red-1);
  --color-select-option-text: var(--c-accent-red-1);
  --color-select-option-background: var(--c-light-grey);
  --color-select-content-shadow: hsla(36, 53%, 39%, 0.4);

  --section-gap: 160px;
}

/* These are the same for both light and dark theme */
:root {
  --color-text-right-gradient: var(--c-accent-red-2);
  --color-logo-half-closing-curve: var(--color-heading-underline-cards);
  --color-logo-Q-tail: var(--color-nav-item-text);
  --color-logo-S-curve: var(--color-nav-item-text);

  --z-index-nav: 20;
}


:root.dark {
  --color-background: var(--c-space-cadet-blue-dark);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-hover: var(--c-red-grey-mute-2);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--c-buff);
  --color-text: var(--c-white-red);
  --color-anchor-link-text: var(--c-accent-red-mute);
  --color-anchor-link-text-hover: var(--c-red-dark);
  --color-anchor-link-text-visited: var(--c-accent-red-mute-pale);
  --color-anchor-link-background-active: var(--c-space-cadet-blue-light-1);
  --color-anchor-link-background-focus: var(--c-space-cadet-blue-light-1);
  --color-anchor-link-background-hover: var(--c-buff);
  --color-code-block-background: var(--c-space-cadet-blue-dark-darker);

  --color-logo-C-curve: var(--color-text-right-gradient);

  --color-nav: var(--c-space-cadet-blue);
  --color-nav-item-active: var(--c-space-cadet-blue-light-1);
  --color-nav-item-text: var(--c-buff);
  --color-nav-item-border-active: var(--c-buff);
  --color-nav-item-border-hover: var(--c-buff-mute);
  --color-nav-theme-toggle: var(--c-red-grey-mute-4);

  --color-footer: var(--color-nav);
  --color-footer-item-text: var(--color-nav-item-text);
  --color-footer-item-border: var(--c-buff-mute-more);

  --color-logo-from-text-separator: var(--color-footer-item-border);

  --color-editor: var(--color-nav);
  --color-editor-shadow: hsla(0, 78.6%, 25.7%, 0.4);
  --color-overlay: var(--c-red-grey-mute-1);
  --color-card: hsla(217.2, 50.9%, 11.2%, 0.22);
  --color-heading-cards: var(--color-heading);
  --color-heading-underline-cards: hsla(0, 16%, 41%, 0.35);
  --card-box-shadow-hover: 0 0 1.7rem 1.3rem hsl(0, 0%, 100%, 0.05);

  --color-select-btn: var(--c-space-cadet-blue-light-1);
  --color-select-btn-text: var(--c-buff);
  --color-select-option-text: var(--c-buff);
  --color-select-option-background: var(--c-space-cadet-blue-dark-darker);
  --color-select-content-shadow: hsla(0, 78.6%, 17%, 0.4);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}