@import './base.css';

#app {
  font-weight: normal;
}

a {
  outline: none;
}

a:link {
  color: var(--color-anchor-link-text);
}

a:visited {
  color: var(--color-anchor-link-text-visited);
}

a:focus {
  text-decoration: none;
  background: var(--color-anchor-link-background-focus);
}

a:hover {
  text-decoration: none;
  background: var(--color-anchor-link-background-hover);
  color: var(--color-anchor-link-text-hover);
}

a:active {
  background: var(--color-anchor-link-background-active);
}