<script setup lang="ts">
import { RouterView } from 'vue-router'
import AppNav from './components/AppNav.vue';
import AppFooter from './components/AppFooter.vue';
</script>

<template>
  <AppNav :navItems="[
    { path: '/', text: 'Home' },
    { path: '/playground', text: 'Playground' },
    { path: '/about', text: 'About' }]"></AppNav>
  <main>
    <RouterView />
  </main>
  <AppFooter />
</template>

<style scoped>
main {
  min-height: 100vh;
  min-height: 100svh;
}
</style>
